.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: top left;
  transform: rotate(45deg);
  transition: 1s;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  background-color: mediumvioletred;
  transition: 1s;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  transition: 1s;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

.container {
  position: relative;
}

/* #middle {
  
  background-color:  rebeccapurple;
}

#middle:hover {
  background-color: mediumvioletred;
  transition: 1s;
} */


@keyframes top {
  from {transform: bottom right;}
  to {transform: top left;}
}

@keyframes middle {
  from {background-color: rebeccapurple;}
  to {background-color: mediumvioletred;}
}

@keyframes bottom {
  from {transform: top right;}
  to {transform: bottom left;}
}
